.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8% 2%;
    background-color: #FF8730;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
  }
  
  .header-comp{
    width: 33%;
  }

  .nav-brand{
    font-size: 25px;
  }

  nav{
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 21px;
  }
  
  .username {
    font-size: 21px;
    color: white;
  }
  